/* PÁGINA INICIAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #555;
}

body {
    font-family: "Poppins", sans-serif;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

#login {
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-weight: bold;
}

.header {
    background: radial-gradient(#ffffff, #b36868);
}

.fileira{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.coluna img {
    padding: 50px 0;
}

.coluna {
    flex-basis: 50%;
}

.coluna h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #ff3b3b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.perfil {
    max-width: 50px; 
    border-radius: 50%;
}

.avaliacoes .coluna-pequena {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    background-color: white;
}

.coluna-pequena {
    max-width: 280px;
    margin-bottom: 30px;
    height: 400px;
}

.fas.fa-quote-left {
    font-size: 34px;
    color: #ff3b3b;
}

.container-pequeno {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.avaliacoes {
    padding-top: 50px;
}

.fa-star {
    padding: 25px 0px 25px 0px;
    color: #ff3b3b;
}

.fa-heart {
    color: #b36868;
}


.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 30px 0 20px;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}
.footer p, .footer a {
    color: #8a8a8a;
}

.fcoluna-1,
.fcoluna-2,
.fcoluna-3,
.fcoluna-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.fcoluna-1 {
    flex-basis: 30%;
}

.fcoluna-2 {
    flex: 1;
    text-align: center;
}

.fcoluna-2 img {
    width: 125px;
    margin-bottom: 30px;
    filter: invert(100%);
}

.fcoluna-3,
.fcoluna-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.fcoluna-1 p, .fcoluna-1 h3 {
    margin-top: 20px;
    width: 280px;
    text-align: left;
    margin-left: 20px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright {
    text-align: center;
}

/* PÁGINA DE LOGIN */

form input {
    font-size: 16px;
    width: 100%;
    height: 45px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: none;
    margin: 10px 0;
}


form a {
    font-size: 14px;
}

.container-form {
    background: #fff;
    width: 400px;
    height: 600px;
    position: relative;
    text-align: center;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgb(0 0 0 / 10%);
    font-size: 20px;
}

.pagina-login {
    padding: 100px 0;
}

.titulo-formulario {
    font-weight: bold;
    color: #555;
    width: 135px;
    display: inline-block;
}

#linha {
    width: 135px;
    border: none;
    background: #ff3b3b;
    height: 3px;
    align-items: center;
    margin: auto;
}

#cadastrar, #entrar {
    left: 0px;
}

.container-form form {
    position: absolute;
    top: 200px;
    padding: 0 30px;
}

.formulario {
    display: inline-block;
}